{{#each photo as |p|}}
<img src={{p.url}} alt={{p.name}}>
<p>{{p.name}}</p>
{{/each}}
<a href={{createLink}}>Create New Photo</a><br>
<a href={{searchLink}}>Search Photos Under this Album</a><br>
<a href="/album">Back to View All Albums</a>